section{display:flex; flex-direction: row} 
.half-width {width: 50%;padding: 200px;margin-left: 100px;}
body {font-family: 'Poppins', sans-serif;}
section img {width:100%;border-radius: 10px;}
h1 {font-size:40px;font-style: bold;}
.color {color: orange;}
.best{font-size: 20px;}
.button{text-decoration:none; background-color: palevioletred; padding: 10px 40px; border-radius:5px;color: white;}
.margin {margin-top: 60px;}
.center{text-align: center;}
.background1{background-color: rgb(239, 244, 245);margin-left:200px;margin-top:100px;margin-right:10px;margin-bottom:400px;border-radius:20px;}
.background2{background-color: rgb(248, 234, 236);margin-left:10px;margin-top:100px;margin-right:10px;margin-bottom:400px;border-radius:20px;}
.background3{background-color:rgb(245, 243, 222);margin-left:10px;margin-top:100px;margin-right:10px;margin-bottom:400px;border-radius:20px;margin-right: 100px;}
.box2{margin-left: 15px;margin-right: 10px;margin-top: auto;}
.image1 {
    padding: 0 8px; width: 24.99999%;}
    .hello{margin-top: 300px;}
    .thirdp{margin-right: 100px; 0 8px; width: 24.99999%;}
    .third{margin-left: 250px;}
    footer {
        text-align: center;
        padding: 40px;
        background-color:black;
        color: white;
      }